<div class="nutrition-container" dir="rtl">
    <main>
      <div class="image-container">
        <img src="assets/images/adi.jpg" alt="תמונה של עדי כהן">
      </div>
      
      <div class="content-container">
        <section class="nutrition-content">
          <h1>נעים להכיר, אני עדי כהן!</h1>
          <p>דיאטנית קלינית, יוצרת תוכן קולינרי ובוגרת בית ספר בישולים.</p>
      
          <p>בעיני השילוב בין קולינריה לבריאות זה חלק בלתי נפרד מאורך חיים בריא ומאושר.</p>
      
          <p>בתוך עולם הבישול העמקתי בתחום שאני הכי אוהבת - בצקים.</p>
      
          <p>החלטתי לשזור את שתי התשוקות שלי בחיים - מטבח ותזונה,</p>
      
          <p>בתוך המטבח הפרטי שלי בסדנת פיצה ייחודית שמשלבת גם אוכל טעים, גם למידה מעשית ועיונית שתקנה לכם הבנה וכלים לעבוד עם כל סוגי הבצקים.</p>
        </section>
      </div>
    </main>
  </div>
  