<div dir="rtl">
    <form [formGroup]="workshopFormGroup" (submit)="send()">

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>שם הסדנא:</mat-label>
            <input matInput formControlName="nameControl" required>
            <mat-error *ngIf="workshopFormGroup.controls['nameControl'].hasError('required') && workshopFormGroup.controls['nameControl'].touched">
                חסר שם
            </mat-error>
            <mat-error *ngIf="workshopFormGroup.controls['nameControl'].hasError('minlength') && workshopFormGroup.controls['nameControl'].touched">
                שם קצר מידי
            </mat-error>
            <mat-error *ngIf="workshopFormGroup.controls['nameControl'].hasError('maxlength') && workshopFormGroup.controls['nameControl'].touched">
                שם ארוך מידי
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>תיאור סדנא:</mat-label>
            <textarea 
                matInput 
                formControlName="descriptionControl" 
                rows="10" 
                class="min-h-40"
                required></textarea>
            <mat-error *ngIf="workshopFormGroup.controls['descriptionControl'].hasError('required') && workshopFormGroup.controls['descriptionControl'].touched">
                חסר תיאור
            </mat-error>
            <mat-error *ngIf="workshopFormGroup.controls['descriptionControl'].hasError('minlength') && workshopFormGroup.controls['descriptionControl'].touched">
                תיאור קצר מידי
            </mat-error>
            <mat-error *ngIf="workshopFormGroup.controls['descriptionControl'].hasError('maxlength') && workshopFormGroup.controls['descriptionControl'].touched">
                תיאור ארוך מידי
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>מקומות פנויים:</mat-label>
            <input matInput formControlName="placesControl" type="number" required>
            <mat-error *ngIf="workshopFormGroup.controls['placesControl'].hasError('required') && workshopFormGroup.controls['placesControl'].touched">
                חסר מספר מקומות פנויים
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>מחיר:</mat-label>
            <input matInput formControlName="priceControl" type="number" required>
            <mat-error *ngIf="workshopFormGroup.controls['priceControl'].hasError('required') && workshopFormGroup.controls['priceControl'].touched">
                חסר מחיר
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>תאריך:</mat-label>
            <input matInput formControlName="dateControl" type="datetime-local" required>
            <mat-error *ngIf="workshopFormGroup.controls['dateControl'].hasError('required') && workshopFormGroup.controls['dateControl'].touched">
                חסר תאריך
            </mat-error>
        </mat-form-field>

        
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>לינק לתשלום:</mat-label>
            <input matInput formControlName="paymentControl" required>
            <mat-error *ngIf="workshopFormGroup.controls['paymentControl'].hasError('required') && workshopFormGroup.controls['paymentControl'].touched">
                חסר לינק לתשלום
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>תמונה:</mat-label>
            <input matInput formControlName="imageControl" [value]="selectedFileName || ''" readonly placeholder="בחר תמונה">
            <button mat-icon-button matSuffix type="button" (click)="fileInput.click()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                    <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54L1 12.5v-9a.5.5 0 0 1 .5-.5z"/>
                  </svg>
            </button>
          </mat-form-field>
          
          <!-- Hidden actual file input -->
          <input
            type="file"
            style="display: none"
            accept="image/*"
            #fileInput
            (change)="onFileSelected()"
            required
          />

        <button mat-raised-button color="primary" type="submit" [disabled]="workshopFormGroup.invalid">
            עדכן סדנא
        </button>
        <button class="backButton" mat-raised-button color="primary" (click)="BackToWorkshops()">
            חזרה לדף הסדנאות
        </button>
    </form>
</div>