<nav class="navigation-menu">
    




    <a routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link"> 
        <span class="nav-text">יצירת קשר</span>
    </a>



    <a routerLink="/suggestion" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link"> 
        <span class="nav-text">המלצות</span>
    </a>

    <a href="https://www.instagram.com/adi.cohen.fit?igsh=NmVlZjQzdG82Ymlt&utm_source=qr" class="instagram-link" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/instagram.png" class="instagram-icon" >
      </a>

    <a href="https://wa.me/529535592?text=%D7%94%D7%99%D7%99+%D7%A2%D7%93%D7%99,+%D7%90%D7%A9%D7%9E%D7%97+%D7%9C%D7%A7%D7%91%D7%9C+%D7%A4%D7%A8%D7%98%D7%99%D7%9D+%D7%9C%D7%92%D7%91%D7%99+%D7%94%D7%A1%D7%93%D7%A0%D7%AA+%D7%A4%D7%99%D7%A6%D7%95%D7%AA+%F0%9F%98%8A">
    <span class="phone-button">052-9535592</span>
    </a>    

</nav>